<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        College Compare
    </title>
</head>
<body style="background-color:rgba(185, 142, 134, 0.911);" link="#000" alink="#017bf5" vlink="#000">
    <h3 align="center">
        <font face="Lato" size="7" color="497155">ABOUT US</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font face="Lato" size="4">
            <a href={{ url_for('home') }}>HOME</a>&nbsp;&nbsp;&nbsp;
            <a href={{ url_for('comparepage') }}>COMPARE</a>&nbsp;&nbsp;&nbsp;           
            <a href={{ url_for('goal') }}>OUR GOAL</a>&nbsp;&nbsp;&nbsp; 
            <a href={{ url_for('about') }}>ABOUT US</a>&nbsp;&nbsp;&nbsp;
        </font>
    </h3>  
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    <h1 align="center">
        <font face="Lato" size="6">
            We are a group of students in Babson College attempting our first website using Python and HTML. 
            The assignment is based on a class titled Problem Solving and Software Design and the purpose is to build
            an effective and efficient website about whatever topic the groups desire. We decided to work on
            College Compare because it seemed like a tool that could actually come into play for students in their senior year
            of High School. With that being said, we hope you enjoy our website and the information we provide within it.
            Feel free to reach out to us with any questions.
        </font>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        <font face="Lato" size="6">       
        Best,
        </font> 
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        <font face="Lato" size="6">   
            James Walters          jwalters1@babson.edu
            Giancarlo Arguello     garguello1@babson.edu
            Talal Hussain          thussain1@babson.edu
            Muna Salad             msalad@babson.edu
        </font>  
    </h1> 
    <br />
</body>
</html>
