<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        College Compare
    </title>
</head>
<body style="background-color:rgba(152, 141, 248, 0.911);" link="#000" alink="#017bf5" vlink="#000">
    <h3 align="center">
        <font face="Lato" size="7" color="497155">COMPARE</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font face="Lato" size="4">
          <a href={{ url_for('home') }}>HOME</a>&nbsp;&nbsp;&nbsp;
          <a href={{ url_for('comparepage') }}>COMPARE</a>&nbsp;&nbsp;&nbsp;           
          <a href={{ url_for('goal') }}>OUR GOAL</a>&nbsp;&nbsp;&nbsp; 
          <a href={{ url_for('about') }}>ABOUT US</a>&nbsp;&nbsp;&nbsp;
        </font>
    </h3> 
    <br /><br /><br /><br /><br />
    <h1 align="center">
        <input type="text" value="Enter College Name" />
        <input type="text" value="Enter College Name" />
    </h1> 
    <br />
    <h2 align="center">
        <a href="compare_table.html">COMPARE!</a>
    </h2>
    <h2>College #1</h2>
    <table style="width:100%">
      <tr>
        <th>College Name</th>
        <th>Location</th> 
        <th>Price</th>
        <th>Acceptance Rate</th>
        <th>Graduation Rate</th>
        <th>Current Local Weather</th>
        <th>Total Enrollment</th> 
        <th>Male Ratio</th>
        <th>Female Ratio</th>
        <th>School Website</th> 
      </tr>
      <tr>
        <td>Babson College</td>
        <td>Wellesley, MA</td> 
        <td>$1</td>
      </tr>
    </table>
    
    <h2>College #2</h2>
    <table style="width:100%">
      <tr>
        <th>College Name</th>
        <th>Location</th> 
        <th>Price</th>
        <th>Acceptance Rate</th>
        <th>Graduation Rate</th>
        <th>Current Local Weather</th>
        <th>Total Enrollment</th>
        <th>Male Ratio</th>
        <th>Female Ratio</th>
        <th>School Website</th>
     </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>
</html>
