<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        College Compare
    </title>
</head>
<body style="background-color:rgba(152, 141, 248, 0.911);" link="#000" alink="#017bf5" vlink="#000">
    <h3 align="center">
        <font face="Lato" size="7" color="497155">COMPARE</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font face="Lato" size="4"> 
            <a href={{ url_for('home') }}>HOME</a>&nbsp;&nbsp;&nbsp;
            <a href={{ url_for('comparepage') }}>COMPARE</a>&nbsp;&nbsp;&nbsp;           
            <a href={{ url_for('goal') }}>OUR GOAL</a>&nbsp;&nbsp;&nbsp; 
            <a href={{ url_for('about') }}>ABOUT US</a>&nbsp;&nbsp;&nbsp;
        </font> 
    </h3> 
    <br /><br /><br /><br /><br /> 
    <form action = {{ url_for('compare_results') }} method = 'POST' name = 'comparer'
        <h1 align="center">
            Please enter the two schools you would like to compare:
            <br />
            <input type="text" value="" name = 'college1'/>
            <input type="text" value="" name = 'college2'/>
        </h1> 
        <br />
        <h2 align="center">
            <input type="submit" value="COMPARE!" />
        </h2>
</body>
</html>
