<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        College Compare
    </title>
</head>
<body style="background-color:rgba(94, 184, 187, 0.911);" link="#000" alink="#017bf5" vlink="#000">
    <h3 align="center">
        <font face="Lato" size="7" color="497155">OUR GOAL</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font face="Lato" size="4">
            <a href={{ url_for('home') }}>HOME</a>&nbsp;&nbsp;&nbsp;
            <a href={{ url_for('comparepage') }}>COMPARE</a>&nbsp;&nbsp;&nbsp;           
            <a href={{ url_for('goal') }}>OUR GOAL</a>&nbsp;&nbsp;&nbsp; 
            <a href={{ url_for('about') }}>ABOUT US</a>&nbsp;&nbsp;&nbsp;
        </font>
    </h3> 
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    <h1 align="center">
        <font face="Lato" size="6">
            Our main goal is to provide an efficient method to compare Colleges and Universities. We would like to simplify the process
	    of scraping various websites for the information and at the same time save the user some time. It is essentially a comprehensive tool 
        for comparing that can be used for anyone applying to colleges, easily comparing stats, costs, and other associated data. With our
        website we hope to provide the user with the information needed prior to making an important decision. 
        </font>
    </h1> 
    <br /> 
</body> 
</html> 
